# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/

# Django
*.sqlite3
*.log
.env
.env.*

# IDE/editor
.vscode/
.idea/
.DS_Store

# Coverage/test artifacts
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
